{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="grix xs2 sm3">
        <div class="form-field pos-xs2">
            <h1>Inscription</h1>
            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.name) }}
            {{ form_row(registrationForm.firstname) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}
        </div>  
        <div class="pos-xs2">
            <button type="submit" class="shadow-1 rounded-1 primary mb-5">Enregistrer</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
